@include font-face(AlumniSans, 'AlumniSans-SemiBold', 600);
@include font-face(AlumniSans, 'AlumniSans-Bold', 700);
@include font-face(AlumniSans, 'AlumniSans-ExtraBold', 800);

@include font-face(Manrope, 'Manrope-Bold', 700);
@include font-face(Manrope, 'Manrope-Medium', 500);
@include font-face(Manrope, 'Manrope-Regular', 400);

@include font-face(RoadRadio, 'RoadRadio-Bold', 700);
@include font-face(RoadRadio, 'RoadRadio-Light', 300);
