html {
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 16px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  contain: paint;
  overflow-x: hidden;
  color: #fff;
  background-color: var(--background-color);

  &--fixed {
    overflow-y: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));

  @include mobile {
    padding: 0 var(--container-mobile-padding);
    max-width: calc(
      var(--container-width) + (var(--container-mobile-padding) * 2)
    );
  }
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

.accent-button {
  @include flex-align-center;
  @include adaptive-value('font-size', 25, 18, 1);
  @include adaptive-value('padding-right', 19, 10, 1);
  @include adaptive-value('padding-left', 28, 22, 1);
  width: fit-content;
  min-width: 268px;
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 350px;
  max-height: 76px;
  background: #d3a168;

  &-text {
    @include adaptive-value('font-size', 25, 18, 1);
    @include adaptive-value('padding-top', 29, 22, 1);
    @include adaptive-value('padding-bottom', 29, 22, 1);
    padding-right: 30px;
    border-right: 1px solid #15151526;
    font-family: AlumniSans, sans-serif;
    font-weight: 600;
    line-height: 79.95%;
    letter-spacing: 0.03em;
    color: #fff;
  }

  &-arrow {
    @include flex-all-center;
    @include adaptive-value('padding-left', 15.3, 12, 1);

    img {
      @include adaptive-value('height', 37, 29, 1);
      @include adaptive-value('width', 37, 29, 1);
    }
  }
}
