:root {
  // colors
  --background-color: #2d2d2d;

  // container
  --container-padding: 20px;
  --container-mobile-padding: 10px;
  --container-width: 1600px;

  // transition
  --transition: .4s;
}
