@mixin desktop {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin little-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin mini-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin pre-small-tablet {
  @media (max-width: 870px) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin pre-mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin pre-small-mobile {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: 380px) {
    @content;
  }
}
