@mixin burger {
  --burger-width: 28px;
  --burger-height: 22px;
  --burger-line-height: 3px;
  position: relative;
  z-index: 5;
  display: none;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;

  @include little-desktop {
    display: block;
  }

  @include small-tablet {
    --burger-height: 18px;
    --burger-width: 23px;
  }

  @include pre-small-mobile {
    --burger-height: 13px;
    --burger-width: 20px;
    --burger-line-height: 2px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 9%;
    width: 81%;
    height: var(--burger-line-height);
    background-color: #d3a168;
  }

  &::before {
    top: 0;
    transition: transform 0.2s, top 0.2s 0.2s;
    transition-duration: 0.2s;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
    transition: transform 0.2s, top 0.2s 0.2s;
    transition-duration: 0.2s;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: #d3a168;
    transform: translateY(-50%);
    transition-duration: 0.2s;
    transition-delay: 0.2s;
  }

  &::before,
  &::after,
  &__line {
    border-radius: 28px;
  }

  &--active {
    --burger-line-height: 2px;
    --burger-height: 28px;
    border-radius: 3px;
    background-color: #d3a168;

    @include pre-small-tablet {
      --burger-height: 24px;
      --burger-width: 24px;
    }

    &::before {
      top: 48%;
      left: 20%;
      width: 60%;
      background-color: #fff;
      transform: rotateZ(-45deg);
      transition: top 0.2s, transform 0.2s 0.2s;
    }

    &::after {
      top: 48%;
      left: 20%;
      width: 60%;
      background-color: #fff;
      transform: rotateZ(45deg);
      transition: top 0.35s, transform 0.2s 0.2s;
    }

    @include pre-small-tablet {
      transform: translateY(-48px) translateX(16px);
    }

    @include small-tablet {
      transform: translateY(-38px) translateX(16px);
    }

    @include mobile {
      transform: translateY(-44px) translateX(5px);
    }

    @include pre-mobile {
      transform: translateY(-39px) translateX(5px);
    }

    @include pre-small-mobile {
      --burger-height: 18px;
      --burger-width: 18px;
      --burger-line-height: 1px;
      transform: translateY(-37px) translateX(7px);
    }

    @include small-mobile {
      transform: translateY(-33px) translateX(7px);
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .burger__line {
      transform: scale(0);
      transition-duration: 0.1s;
      transition-delay: 0.2s;
    }
  }
}
