.header {
  padding-top: 31px;

  @include little-desktop {
    margin-top: 5px;
    padding: 0;
  }

  @include pre-small-tablet {
    margin-top: 33px;
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 10px;
  }

  &__container {
    @include flex-all-between;
    position: relative;

    @include mobile {
      padding-right: 16px;
      padding-left: 16px;
    }

    @include pre-small-tablet {
      border-radius: 53px;
      padding-top: 8px;
      padding-bottom: 8px;
      background: #262626;
      backdrop-filter: blur(53px);

      &:has(.header__nav--visible) {
        backdrop-filter: none;
      }
    }
  }

  &__nav {
    overflow: hidden;

    &-title {
      @include adaptive-value('font-size', 40, 25, 1);
      display: none;
      margin-bottom: 40px;
      font-family: AlumniSans, sans-serif;
      font-weight: 800;
      line-height: 93%;
      text-transform: uppercase;
      color: #fff;

      @include little-desktop {
        display: block;
      }

      @include pre-small-tablet {
        @include adaptive-value('margin-bottom', 40, 13, 1);
      }
    }

    &-list {
      @include flex-align-center;
      gap: 44px;

      @include pre-small-tablet {
        @include adaptive-value('gap', 44, 10, 1);
        align-items: flex-start;
        margin-bottom: 152px;
      }
    }

    &-ellipse {
      position: absolute;
      display: none;
      border-radius: 30px;
      width: 41px;
      height: 524px;
      background: #b3763461;
      filter: blur(104px);

      &--1,
      &--2 {
        bottom: -342px;
        left: -20px;
      }

      &--3,
      &--4 {
        top: -295px;
        right: -20px;
      }
    }

    &-address {
      display: none;
      margin-bottom: 20px;
      max-width: 150px;
      font-family: Manrope, sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 133%;
      letter-spacing: -0.07em;
      text-align: left;
      color: #fff;

      span {
        display: block;
        font-weight: 500;
        color: #c8c8c8;
      }

      @include pre-small-tablet {
        display: block;
      }
    }

    @include little-desktop {
      @include flex-column-all-center;

      @include pre-small-tablet {
        @include flex-column;
        align-items: flex-start;
        justify-content: stretch;
        padding-top: 100px;
        padding-left: 60px;

        @include pre-small-mobile {
          padding-top: 60px;
          padding-left: 40px;
        }

        @include small-mobile {
          padding-top: 46px;
          padding-left: 24px;
        }
      }

      &-list {
        @include flex-column-justify-center;
      }
      position: fixed;
      top: 0;
      right: 0;
      z-index: 4;
      width: 40dvw;
      height: 100dvh;
      background: #231f20;
      opacity: 0;
      visibility: hidden;
      transition:
        left var(--transition),
        opacity var(--transition),
        visibility var(--transition);

      @include small-tablet {
        width: 45dvw;
      }

      @include mobile {
        width: 50dvw;
      }

      @include pre-mobile {
        width: 60dvw;
      }

      @include pre-small-mobile {
        width: 66dvw;
      }

      &--visible {
        right: 0;
        left: auto;
        border-top-right-radius: 30px;
        opacity: 1;
        visibility: visible;
      }
    }

    &-item {
      @include adaptive-value('font-size', 14, 13, 1);
      font-family: Manrope, sans-serif;
      font-weight: 500;
      line-height: 120%;

      a {
        color: #f9f9f9;
      }
    }
  }

  &__logo {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);

    @include desktop {
      display: none;
    }

    @include little-desktop {
      position: static;
      display: block;
      transform: none;
    }

    @include pre-small-tablet {
      width: 92.5px;
    }

    @include small-tablet {
      width: 70px;
    }

    @include pre-mobile {
      width: 60px;
    }

    @include pre-small-mobile {
      width: 50px;
      height: 38px;
    }

    @include small-mobile {
      width: 43px;
      height: 31px;
    }
  }

  &__right {
    @include flex-align-center;
    gap: 40px;

    @include little-desktop {
      gap: 25px;
    }

    &-socials {
      @include flex-align-center;
      gap: 16px;

      @include pre-small-tablet {
        display: none;
      }
    }

    &-vk,
    &-tg {
      @include flex-all-center;
      border: 1px solid #ffffff59;
      border-radius: 10px;
      width: 43px;
      height: 43px;
      backdrop-filter: blur(70px);
    }

    &-tel {
      @include adaptive-value('font-size', 33, 15, 1);
      font-family: AlumniSans, sans-serif;
      font-weight: 700;
      line-height: 80%;
      color: #fff;
    }

    &-button {
      display: flex;
      border-radius: 10px;
      padding: 0;
      padding-right: 17px;
      padding-left: 17px;
      background: #d3a168;

      &-text {
        @include flex-all-center;
        border-right: 1px solid #15151526;
        padding: 15px 0;
        padding-right: 13px;
        font-family: RoadRadio, sans-serif;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #fff;
      }

      &-arrow {
        @include flex-all-center;
        padding-left: 17px;
      }

      @include small-tablet {
        display: none;
      }
    }
  }
}

.header__nav.header__nav--visible {
  .header__nav-ellipse {
    display: block;
  }

  .header__nav-link {
    color: #c8c8c8;
  }
}

.header__nav {
  &-socials {
    display: none;

    @include pre-small-tablet {
      display: flex;
    }

    .header__right-vk {
      @include adaptive-value('height', 43, 35, 1);
      @include adaptive-value('width', 43, 35, 1);
    }

    .header__right-tg {
      @include adaptive-value('height', 43, 35, 1);
      @include adaptive-value('width', 43, 35, 1);
    }
  }

  &-tel {
    display: none;

    @include pre-small-tablet {
      display: block;
      margin-bottom: 20px;
    }
  }
}

.overlay {
  @include little-desktop {
    position: fixed;
    inset: 0;
    z-index: 3;
    background: #434343a8;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity var(--transition),
      visibility var(--transition);
    backdrop-filter: blur(16px);

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.burger {
  @include burger;
}

// .center-cross {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   z-index: 9999;
// }

// .center-cross::before,
// .center-cross::after {
//   content: '';
//   position: absolute;
//   background: red;
// }

// .center-cross::before {
//   top: 50%;
//   left: 0;
//   width: 100%;
//   height: 1px;
//   transform: translateY(-50%);
// }

// .center-cross::after {
//   top: 0;
//   left: 50%;
//   width: 1px;
//   height: 100%;
//   transform: translateX(-50%);
// }
