.hero {
  @include adaptive-value('padding-top', 85, 40, 1);
  @include adaptive-value('padding-bottom', 60, 40, 1);

  &__container {
    position: relative;
    padding: 0 calc(var(--container-padding) + 16px);
    max-width: calc(
      var(--container-width) + ((var(--container-padding) + 16px) * 2)
    );

    @include mobile {
      padding: 0 calc(var(--container-mobile-padding) + 16px);
      max-width: calc(
        var(--container-width) + ((var(--container-mobile-padding) + 16) * 2)
      );
    }
  }

  &__title {
    @include adaptive-value('font-size', 110, 34, 1);
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 49, 40, 1);
    max-width: 1300px;
    font-family: AlumniSans, sans-serif;
    font-weight: 800;
    line-height: 93%;
    text-align: center;
    text-transform: uppercase;

    @include small-tablet {
      text-align: left;
    }

    span {
      color: #d3a168;
    }
  }

  &__button {
    @include adaptive-value('margin-bottom', 60, 40, 1);
    margin: 0 auto;

    &--small {
      display: none;
    }

    @include tablet {
      display: none;

      &--small {
        display: flex;
        max-height: 58px;
      }
    }
  }

  &__list {
    @include flex-align-center;
    @include adaptive-value('margin-bottom', 60, 40, 1);
    gap: 58px;
    justify-content: center;
    margin-bottom: 60px;

    @include mini-desktop {
      display: none;
    }

    &-slider.swiper {
      @include adaptive-value('margin-bottom', 60, 40, 1);
      display: none;
      overflow: visible;

      @include mini-desktop {
        display: block;
      }
    }
  }

  &__item {
    font-family: Manrope, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 93.27%;
    text-align: left;

    &-title {
      display: inline-block;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 17px;
      letter-spacing: -0.07em;
      color: #d3a168;

      span {
        color: #fff;
      }
    }

    &-desc {
      display: inline-block;
      font-size: 14px;
      line-height: 120%;
      color: #c8c8c8;
    }

    &:nth-child(1) {
      max-width: 246px;
    }

    &:nth-child(2) {
      max-width: 213px;
    }

    &:nth-child(3) {
      max-width: 278px;
    }

    &:nth-child(4) {
      max-width: 228px;
    }
  }

  &__list-slider {
    .hero__item {
      max-width: none;

      &--1,
      &--5 {
        width: 178px !important;
      }

      &--2,
      &--6 {
        max-width: 155px !important;
      }

      &--3,
      &--7 {
        max-width: 203px !important;
      }

      &--4,
      &--8 {
        max-width: 228px !important;

        .hero__item-desc {
          max-width: 189px;
        }
      }

      &-desc {
        line-height: 133%;
      }
    }

    &-viewport {
      overflow: hidden;
      margin: 0 auto;
      padding-left: 36px;
      max-width: 100vw;

      @include mobile {
        padding-left: 26px;
      }
    }
  }

  &__ellipse {
    @include adaptive-value('height', 209, 169, 1);
    @include adaptive-value('width', 200, 161, 1);
    position: absolute;
    background: #d3a168;
    filter: blur(200px);
    pointer-events: none;

    &--1 {
      top: -30%;
      right: -17%;
    }

    &--2 {
      bottom: -29%;
      left: -17%;

      @include pre-mini-desktop {
        bottom: -250px;
        left: -10%;
      }

      @include mini-desktop {
        bottom: -300px;
      }

      @include tablet {
        bottom: -500px;
      }

      @include mobile {
        bottom: -570px;
      }
    }
  }

  &__slider.swiper {
    overflow: visible;

    @include tablet {
      overflow: hidden;
    }
  }

  &__slider {
    width: 100%;

    &-viewport {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      @include adaptive-value('margin-bottom', 49, 37, 1);
      border-radius: 10px;
      width: 1921px;
      max-width: 100vw;

      @include tablet {
        width: auto;
      }
    }

    &-logo {
      @include adaptive-value('width', 182, 105, 1);
      @include adaptive-value('height', 182, 105, 1);
      position: absolute;
      right: -4px;
      bottom: -151px;
      z-index: 2;
      pointer-events: none;

      @include mini-desktop {
        bottom: -280px;
      }

      @include small-tablet {
        bottom: -270px;
      }

      @include mobile {
        right: -11px;
        bottom: -255px;
      }
    }
  }

  &__slide {
    @include adaptive-value('max-width', 446, 147, 1);
    overflow: hidden;
    border-radius: 10px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
