.hero {
  @include adaptive-value('padding-top', 85, 40, 1);
  @include adaptive-value('padding-bottom', 60, 40, 1);

  &__container {
    position: relative;
  }

  &__title {
    @include adaptive-value('font-size', 110, 35, 1);
    margin: 0 auto;
    margin-bottom: 49px;
    max-width: 1300px;
    font-family: AlumniSans, sans-serif;
    font-weight: 800;
    line-height: 93%;
    text-align: center;
    text-transform: uppercase;

    @include small-tablet {
      text-align: left;
    }

    span {
      color: #d3a168;
    }
  }

  &__button {
    @include flex-align-center;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 10px;
    padding-right: 19px;
    padding-left: 28px;
    max-height: 76px;
    background: #d3a168;

    &-text {
      border-right: 1px solid #15151526;
      padding: 29px 0;
      padding-right: 28px;
      font-family: AlumniSans, sans-serif;
      font-weight: 600;
      font-size: 25px;
      line-height: 79.95%;
      letter-spacing: 0.03em;
      color: #fff;
    }

    &-arrow {
      @include flex-all-center;
      padding-left: 15.3px;
    }
  }

  &__list {
    @include flex-align-center;
    gap: 58px;
    justify-content: center;
  }

  &__item {
    font-family: Manrope, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 93.27%;
    text-align: left;

    &-title {
      display: inline-block;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 17px;
      letter-spacing: -0.07em;
      color: #d3a168;

      span {
        color: #fff;
      }
    }

    &-desc {
      display: inline-block;
      font-size: 14px;
      line-height: 120%;
      color: #c8c8c8;
    }

    &:nth-child(1) {
      max-width: 246px;
    }

    &:nth-child(2) {
      max-width: 213px;
    }

    &:nth-child(3) {
      max-width: 278px;
    }

    &:nth-child(4) {
      max-width: 228px;
    }
  }

  &__ellipse {
    @include adaptive-value('height', 209, 169, 1);
    @include adaptive-value('width', 200, 161, 1);
    position: absolute;
    background: #d3a168;
    filter: blur(200px);

    &--1 {
      top: -30%;
      right: -17%;
    }

    &--2 {
      bottom: -29%;
      left: -17%;
    }
  }
}
