<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      <span>Древодел 52</span>&nbsp;- где&nbsp;каждое&nbsp;бревно
      хранит&nbsp;силу северного русского леса!
    </h1>
    <button class="hero__button">
      <div class="hero__button-text">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</div>
      <div class="hero__button-arrow">
        <img
          src="./assets/icons/right-up-arrow-hero-icon.svg"
          alt="Стрелка вверх вправо"
        />
      </div>
    </button>
    <ul class="hero__list">
      <li class="hero__item">
        <h5 class="hero__item-title">[ <span>Фиксированные сроки</span> ]</h5>
        <p class="hero__item-desc">
          фиксированные сроки по договору - штрафы за просрочку в договоре
        </p>
      </li>
      <li class="hero__item">
        <h5 class="hero__item-title">[ <span>Скидки на объем</span> ]</h5>
        <p class="hero__item-desc">
          выгодные условия для оптовых заказчиков и партнеров
        </p>
      </li>
      <li class="hero__item">
        <h5 class="hero__item-title">
          [ <span>Каждый этап — в фото и видео</span> ]
        </h5>
        <p class="hero__item-desc">
          фото и видео сопровождение сборки\строительства дома\бани\сруба
        </p>
      </li>
      <li class="hero__item">
        <h5 class="hero__item-title">
          [ <span>Отсутствие скрытых наценок</span> ]
        </h5>
        <p class="hero__item-desc">
          четкая смета с разбивкой по&nbsp;материалам и работам
        </p>
      </li>
    </ul>
    <div class="hero__ellipse hero__ellipse--1"></div>
    <div class="hero__ellipse hero__ellipse--2"></div>
    <img
      class="hero__slider-logo"
      src="./assets/icons/hero-slider-logo.svg"
      alt="Работаем по всей территории РФ"
    />
  </div>
  <div class="hero__list-slider-viewport">
    <div class="swiper hero__list-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__item hero__item--1">
          <h5 class="hero__item-title">[ <span>Фиксированные сроки</span> ]</h5>
          <p class="hero__item-desc">
            фиксированные сроки по договору - штрафы за просрочку в договоре
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--2">
          <h5 class="hero__item-title">[ <span>Скидки на объем</span> ]</h5>
          <p class="hero__item-desc">
            выгодные условия для оптовых заказчиков и партнеров
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--3">
          <h5 class="hero__item-title">
            [ <span>Каждый этап — в фото</span> ]
          </h5>
          <p class="hero__item-desc">
            фото и видео сопровождение сборки\строительства дома\бани\сруба
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--4">
          <h5 class="hero__item-title">
            [ <span>Отсутствие скрытых наценок</span> ]
          </h5>
          <p class="hero__item-desc">
            четкая смета с разбивкой по&nbsp;материалам и работам
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--5">
          <h5 class="hero__item-title">[ <span>Фиксированные сроки</span> ]</h5>
          <p class="hero__item-desc">
            фиксированные сроки по договору - штрафы за просрочку в договоре
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--6">
          <h5 class="hero__item-title">[ <span>Скидки на объем</span> ]</h5>
          <p class="hero__item-desc">
            выгодные условия для оптовых заказчиков и партнеров
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--7">
          <h5 class="hero__item-title">
            [ <span>Каждый этап — в фото</span> ]
          </h5>
          <p class="hero__item-desc">
            фото и видео сопровождение сборки\строительства дома\бани\сруба
          </p>
        </div>
        <div class="swiper-slide hero__item hero__item--8">
          <h5 class="hero__item-title">
            [ <span>Отсутствие скрытых наценок</span> ]
          </h5>
          <p class="hero__item-desc">
            четкая смета с разбивкой по&nbsp;материалам и работам
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__slider-viewport">
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-1.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-2.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-3.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-4.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-1.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-2.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-3.jpg"
            alt="Дом из дерева"
          />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            src="./assets/images/hero-slider-img-4.jpg"
            alt="Дом из дерева"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container hero__container">
    <button class="hero__button hero__button--small">
      <div class="hero__button-text">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</div>
      <div class="hero__button-arrow">
        <img
          src="./assets/icons/right-up-arrow-hero-icon.svg"
          alt="Стрелка вверх вправо"
        />
      </div>
    </button>
  </div>
</section>
