<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      <span>Древодел 52</span>&nbsp;- где&nbsp;каждое&nbsp;бревно
      хранит&nbsp;силу северного русского леса!
    </h1>
    <button class="hero__button">
      <div class="hero__button-text">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</div>
      <div class="hero__button-arrow">
        <img
          src="./assets/icons/right-up-arrow-hero-icon.svg"
          alt="Стрелка вверх вправо"
        />
      </div>
    </button>
    <ul class="hero__list">
      <li class="hero__item">
        <h5 class="hero__item-title">[ <span>Фиксированные сроки</span> ]</h5>
        <p class="hero__item-desc">
          фиксированные сроки по договору - штрафы за просрочку в договоре
        </p>
      </li>
      <li class="hero__item">
        <h5 class="hero__item-title">[ <span>Скидки на объем</span> ]</h5>
        <p class="hero__item-desc">
          выгодные условия для оптовых заказчиков и партнеров
        </p>
      </li>
      <li class="hero__item">
        <h5 class="hero__item-title">
          [ <span>Каждый этап — в фото и видео</span> ]
        </h5>
        <p class="hero__item-desc">
          фото и видео сопровождение сборки\строительства дома\бани\сруба
        </p>
      </li>
      <li class="hero__item">
        <h5 class="hero__item-title">
          [ <span>Отсутствие скрытых наценок</span> ]
        </h5>
        <p class="hero__item-desc">
          четкая смета с разбивкой по&nbsp;материалам и работам
        </p>
      </li>
    </ul>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide"></div>
      </div>
    </div>

    <div class="hero__ellipse hero__ellipse--1"></div>
    <div class="hero__ellipse hero__ellipse--2"></div>
  </div>
</section>
