<section class="together">
  <div class="container together__container">
    <div class="together__inner">
      <div class="together__info">
        <h2 class="together__title">Давайте вместе создадим эскиз вашего дома</h2>
        <p class="together__desc">
          ответьте всего на 6 вопросов. А мы на их основе подготовим персональную
          подборку проектов и расчёт
        </p>
        <button class="together__button accent-button">
          <div class="together__button-text accent-button-text">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</div>
          <div class="together__button-arrow accent-button-arrow">
            <img
              src="./assets/icons/right-up-arrow-hero-icon.svg"
              alt="Стрелка вверх вправо"
            />
          </div>
        </button>
      </div>
    <div class="together__ellipse together__ellipse--1"></div>
    <div class="together__ellipse together__ellipse--2"></div>
  </div>
</section>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>